h1
{
    text-align: center;
    color: rgb(22, 190, 86);
}

.row, .row2, .row3, .row4, .row5
{
    
    padding-top: 10px;
    width: 30%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(122, 122, 122);
    border-top: 1px solid;
    border-bottom:8px solid rgb(16, 206, 180);
    margin-left: 50px;
    padding: 10px;
    text-align: justify;
}

.row2
{
    margin-left: 750px;
    margin-bottom: 5px;
    margin-top: -460px;
    font-size: 21.34px;
    
}


#Boton
{
    position: relative;
    left: 155px;
}

#base, #altura

{
    position: relative;
    left: 90px;
}


.xi
{
    position: relative;
    left: 72px;
}

.area, .area3
{
    position: relative;
    left: 90px;
}



#radio, .area2 , .area4, #metros
{
    position: relative;
    left: 80px;
}

.yi

{
    position: relative;
    left: 86px;
}

#base1, #altura1
{
    position: relative;
    left: 90px;
}

.zi
{
    position: relative;
    left: 70px;
}

.alfa
{
    position: relative;
    left: 77px;
}

.row4

{
    margin-left: 750px;
    margin-bottom: 5px;
    margin-top: -580px;
    font-size: 20px;
    
}

#precio, #horas, #mints, #totalarea5

{
    position: relative;
    left: 100px;
}


.valor
{
    position: relative;
    left: 95px;
}

.beta
{
    position: relative;
    left: 145px;
}

.zeta
{
    position: relative;
    left: 145px;
}

.X6
{
    position: relative;
    left: 145px;
}

#Boton5
{
    position: relative;
    left: 159px;
}

/*Archivo para funciones a entregar miércoles*/
